{% extends "website/base.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static '/css/index.css' %}">
<div class="slider-area">
    <div class="slider">
        <img src="{% static 'third-party/theme/assets/img/slide1/slider-image-2.jpg' %}">
    </div>
    <div class="slider-content">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
          <div id="presentation-header">
            <h2>TEDFinder</h2>
            <p>Nunca foi tão fácil encontrar suas palestras preferidas.</p>
          </div>
          <div class="search-form wow pulse" data-wow-delay="0.8s">
            <form id="search-form" class="form-inline" method="post">
              {% csrf_token %}
              <div class="form-group">
                  <!-- <input type="text" name="keyword" class="form-control" placeholder="Insira sua busca aqui..." required> -->
                  <div class="input-group col-md-12">
                    <input type="text" name="keyword" class="form-control" placeholder="Insira sua busca aqui..." required>
                    <div class="input-group-btn">
                      <button id="n-btn-select" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        1
                      </button>
                      <ul id="select-min-videos" class="dropdown-menu dropdown-menu-right">
                        <li><a href="#list-1" data-video="1">1</a></li>
                        <li><a href="#list-2" data-video="2">2</a></li>
                        <li><a href="#list-3" data-video="3">3</a></li>
                        <li><a href="#list-4" data-video="4">4</a></li>
                        <li><a href="#list-5" data-video="5">5</a></li>
                      </ul>
                    </div>
                  </div>
              </div>
              <div class="form-group hidden">
                <select name="min-videos" class="form-control">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
              <button class="btn search-btn" type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
          <div id="video-container">
            <h4 id="search-info">Você pesquisou por:&nbsp;<span id="search-keys"></span></h4>
            <center>
              <div id="video-header">
                <h5 id="title-container">
                  <span id="video-title"></span>
                  <a id="close-video-btn" href="#close-video">
                    <span class="fa fa-times pull-right text-danger"></span>
                  </a>
                </h5>
              </div>
              <div id="embed-video"></div>
            </center>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Count area -->
<div class="count-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 percent-blocks m-main" data-waypoint-scroll="true">
              <div class="col-md-6 col-sm-6 text-center page-title">
                  <h2>Nosso tamanho:</h2>
              </div>
              <div class="col-sm-6 col-xs-6">
                  <div class="count-item">
                      <div class="count-item-circle">
                          <span class="fa fa-files-o"></span>
                      </div>
                      <div class="chart" data-percent="5000">
                          <h2 class="percent"  id="counter3">5000</h2>
                          <h5>PALESTRAS</h5>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>

<!--TESTIMONIALS -->
<div class="testimonial-area recent-property" style="background-color: #FCFCFC; padding-bottom: 15px;">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                <!-- /.feature title -->
                <h2>Nossa Equipe </h2>
            </div>
        </div>

        <div class="row team" style="margin-top:3rem;">
          <div class="col-md-10 col-md-offset-1 col-sm-12">
            <div class="row">
              <div class="col-md-6">
                <div class="item">
                  <div class="client-face">
                      <img src="{% static 'img/rqroz.png' %}" alt="">
                  </div>
                  <div class="github-container">
                    <a class="github-btn" href="https://github.com/rqroz"  target="_blank">
                      <span class="fa fa-github"></span>
                    </a>
                  </div>
                  <div class="client-text">
                    <h4><strong>Rodolfo Queiroz</strong></h4>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="item">
                    <div class="client-face">
                        <img src="{% static 'img/deangelacgn.png' %}" alt="">
                    </div>
                    <div class="github-container">
                      <a class="github-btn" href="https://github.com/deangelacgn" target="_blank">
                        <span class="fa fa-github"></span>
                      </a>
                    </div>
                    <div class="client-text">
                      <h4><strong>Deangela Neves</strong></h4>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
{% include "website/wait_modal.html" %}
<script src="{% static 'js/index.js' %}?version=1.0"></script>
{% endblock %}
