<!DOCTYPE html>
{% load static %}
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TEDFinder | {% block title %} {% endblock %}</title>
        <meta name="description" content="GARO is a real-estate template">
        <meta name="author" content="Kimarotec">
        <meta name="keyword" content="html5, css, bootstrap, property, real-estate theme , bootstrap template">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="{% static 'third-party/theme/favicon.ico' %}" type="image/x-icon">
        <link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon">

        <link rel="stylesheet" href="{% static 'third-party/theme/assets/css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'third-party/theme/assets/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'third-party/theme/assets/css/fontello.css' %}">
        <link rel="stylesheet" href="{% static 'third-party/theme/assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css' %}">
        <link rel="stylesheet" href="{% static 'third-party/theme/assets/fonts/icon-7-stroke/css/helper.css' %}">
        <link rel="stylesheet" media="screen" href="{% static 'third-party/theme/assets/css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'third-party/theme/assets/css/bootstrap-select.min.css' %}">
        <link rel="stylesheet" href="{% static 'third-party/theme/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'third-party/theme/assets/css/icheck.min_all.css' %}">
        <link rel="stylesheet" href="{% static 'third-party/theme/assets/css/price-range.css' %}">
        <link rel="stylesheet" href="{% static 'third-party/theme/assets/css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'third-party/theme/assets/css/owl.theme.css' %}">
        <link rel="stylesheet" href="{% static 'third-party/theme/assets/css/owl.transitions.css' %}">
        <link rel="stylesheet" href="{% static 'third-party/theme/assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'third-party/theme/assets/css/responsive.css' %}">
        <link rel="stylesheet" href="{% static '/css/main.css' %}">
    </head>
    <body>
        <!-- Pre loader -->
        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>


        <!-- Body content -->
        <nav class="navbar navbar-default ">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- <a class="navbar-brand" href="index.html"><img src="{% static 'third-party/theme/assets/img/logo.png' %}" alt=""></a> -->
                    <a class="navbar-brand" href="{% url 'index_view' %}">TEDFinder</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse yamm" id="navigation">
                    {% if request.user.is_authenticated %}
                      <div class="button navbar-right">
                          <button id="logout-btn" class="navbar-btn nav-button wow bounceInRight login" data-wow-delay="0.45s">Logout</button>
                      </div>
                      <ul class="main-nav nav navbar-nav navbar-right">
                          <li class="wow fadeInDown" data-wow-delay="0.5s"><a href="{% url 'doc_view' %}">Arquivos</a></li>
                      </ul>
                    {% else %}
                      <div class="button navbar-right">
                          <button class="navbar-btn nav-button wow bounceInRight login" onclick="window.open('login/', '_self')" data-wow-delay="0.45s">Login</button>
                      </div>
                    {% endif %}
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <!-- End of nav bar -->

        <script src="{% static 'third-party/theme/assets/js/modernizr-2.6.2.min.js' %}"></script>

        <script src="{% static 'third-party/theme/assets/js/jquery-1.10.2.min.js' %}"></script>
        <script src="{% static 'third-party/theme/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'third-party/theme/assets/js/bootstrap-select.min.js' %}"></script>
        <script src="{% static 'third-party/theme/assets/js/bootstrap-hover-dropdown.js' %}"></script>

        <script src="{% static 'third-party/theme/assets/js/easypiechart.min.js' %}"></script>
        <script src="{% static 'third-party/theme/assets/js/jquery.easypiechart.min.js' %}"></script>

        <script src="{% static 'third-party/theme/assets/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'third-party/theme/assets/js/wow.js' %}"></script>

        <script src="{% static 'third-party/theme/assets/js/icheck.min.js' %}"></script>
        <script src="{% static 'third-party/theme/assets/js/price-range.js' %}"></script>

        <script src="{% static 'third-party/theme/assets/js/main.js' %}?version=1.1"></script>

        <script src="{% static 'js/csrf.js' %}"></script>
        <script src="{% static 'js/main.js' %}?version=1.1"></script>
        <script src="{% static 'js/bootbox.min.js' %}"></script>

        {% block content %}
        {% endblock %}

        <!-- Footer area-->
        <div class="footer-area">
            <div class=" footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-offset-9 col-md-3 col-sm-offset-6 col-sm-6 wow fadeInLeft animated">
                            <div class="single-footer">
                                <h4>Quem somos</h4>
                                <div class="footer-title-line"></div>
                                <p>Dois estudantes de Engenharia de Computação, da Universidade Federal do Rio Grande do Norte, tentando passar em Inteligencia Artificial com uma nota boa.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
          {% if error %}
            bootbox.alert("{{error}}");
          {% endif %}
        </script>
    </body>
</html>
